
.DS_Store
.ipynb_checkpoints/PicPoet-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Data/Captions/.ipynb_checkpoints/flickr8kzhc.caption-checkpoint.txt
Data/Images/.ipynb_checkpoints/readme-checkpoint.txt
Data/Poems/.ipynb_checkpoints/readme-checkpoint.txt
